.custom-border {
  border: 2px solid #dee2e6;
  /* box-shadow: 0 0 10px black; */
  border-radius: 10px;
  padding: 50px;
}
.bg {
  background: rgb(0, 255, 51);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 51, 1) 0%,
    rgba(9, 121, 92, 1) 39%,
    rgba(0, 36, 22, 1) 100%
  );
}
.green-border {
  border-color: green !important;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.green-border {
  border-color: green !important;
}
