* {
  margin: 0;
  padding: 0;
}

/* App.css */
.App {
  text-align: center;
}

.game-container {
  position: relative;
  margin: 20px auto;
  width: 400px;
  height: 600px;
  border: 1px solid #000;
}

.road {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  background-color: #666;
  transform: translateX(-50%);
}

.car {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}

.automatic-car {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}
